@import '~highlight.js/scss/monokai.scss';

.rounded-codeblock {
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: black;
    left: 50px;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc(100%/3);
    height: 80%;
}

#gameDiv{
	position: absolute;
	top: 0;
	left: calc(100%/3);
	width: calc(100%/3);
	height: 100%;
	background:#B22E20;
}

#canvasContainer {
    top: 0;
    height: 80%;
    width: 100%;
    display: flex;

    canvas {
        margin: auto;
        display: block;
    }
}

#editorPanel{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 20%;
	width: calc(100%/3);
	background:#1F1F1F;
}

#gamePanel {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20%;
    width: 100%;
    background: #1F1F1F;
}

#infoPanelTaskList {
    position: relative;
    left: 5px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    li {
        color: white;
        font-family: 'Lucida Console', 'monospace', 'Courier New';
    }
}

#testSelect input[type=number]::-webkit-inner-spin-button,
#testSelect input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#infoPanel {
    position: relative;
    background-color: black;
    bottom: 0;
    height: calc(100%/3);
    overflow: hidden;
}

#infoPanelOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:9999;
    opacity: 0.1;
    background-color: white;
}


#infoDiv {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: white;
    width: calc(100%/3);
}

#infoPages {
    top: 0;
    height: calc(200%/3);
}

#tabs{
	top: 0;
	height: 5%
}

#content{
	padding: 0;
	margin: 0;
	bottom: 0;
	height: 95%;
	background:#FFDB58;
	overflow: auto;
}

.codeActivity {
    background: rgba(100,200,100,0.5);
}

.codeError {
    background: rgba(200,100,100,0.5);
}

button {
    border: 1px solid #999999;
    background-color: slategrey;

    :disabled {
        color: black;
    }
}